* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-size: cover;
  position: relative;

  overflow: hidden;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  background-image: url(images/bg.jpg);
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  /* background-position: center; */
  position: absolute;
  z-index: -3;
  background-attachment: fixed;
}
.trees {
  background-image: url(images/trees.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  z-index: 1;
}

.content {
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 380px;
  height: 340px;
  border-radius: 1.5rem;
  border: 2px solid rgba(178, 165, 165, 0.327);
  color: #a52a2a;
  backdrop-filter: blur(18px);
  padding: 1rem;
  position: absolute;
  gap: 1rem;
}

input {
  height: 50px;
  width: 100%;
  border-radius: 2px;
  font-size: 20px;
  color: #a52a2a;
  border: none;
  border-radius: 0.5rem;
  padding: 15px;
}

button {
  background-color: #a52a2a;
  color: white;
  border: none;
  height: 50px;
  width: 100%;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
.forget-pass a {
  text-decoration: none;
  padding: 15px;
}

.forget-pass {
  display: flex;
  justify-content: space-between;
}
.leaf1 {
  width: 100%;
  height: 100%;
  background-image: url(images/leaf_01.png);
  z-index: 3;
  background-repeat: no-repeat;
  animation: moveDown 3s linear infinite;
  position: absolute;
  background-position: 120px -10px;
}
.leaf2 {
  width: 100%;
  height: 100%;
  background-image: url(images/leaf_02.png);
  z-index: 3;
  background-repeat: no-repeat;
  animation: moveDown 3s linear infinite;
  /* animation-delay: 1s; */
  position: absolute;
  background-position: 220px -10px;
}
.leaf3 {
  width: 100%;
  height: 100%;
  background-image: url(images/leaf_03.png);
  z-index: 3;
  background-repeat: no-repeat;
  animation: moveDown 3s linear infinite;
  /* animation-delay: 1s; */
  background-position: 420px -10px;
  position: absolute;
}
.leaf4 {
  width: 100%;
  height: 100%;
  background-image: url(images/leaf_04.png);
  z-index: 3;
  background-repeat: no-repeat;
  animation: moveDown 3s linear infinite;
  background-position: 52% 10px;
  position: absolute;
}
.leaf5 {
  width: 100%;
  height: 100%;
  background-image: url(images/leaf_03.png);
  z-index: 3;
  background-repeat: no-repeat;
  animation: moveDown 3s linear infinite;
  background-position: 72% 10px;
  position: absolute;
}
.leaf6 {
  width: 100%;
  height: 100%;
  background-image: url(images/leaf_04.png);
  z-index: 2;
  background-repeat: no-repeat;
  /* animation: moveDown 3s ease-in infinite; */
  animation: moveDown 3s linear infinite;
  background-position: 90% -10px;
  position: absolute;
}
.girl {
  width: 100%;
  height: 100%;
  background-image: url(images/girl.png);
  background-repeat: no-repeat;
  animation: left-move 9s linear infinite;
  position: absolute;
  background-position: right;
  /* top: 150px; */
  background-size: 20% 40%;
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}
/* @keyframes left-move {
  100% {
    transform: translate(-10000px);
  }
} */
@keyframes left-move {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
